 @model VehicleRentalSystem.ViewModels.EmailViewModel   

    <div class="emailRow">

        <div class="form-group">
            <div class="row">
                <dt class="col-sm-5 offset-1 font-weight-bold">
                    @Html.LabelFor(model => model.EmailAdd.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.EmailAdd.Email)
                </dd>
            </div>
        </div>
       
    </div>




































   
